# Data Science Tools and Ecosystem

# Introduction
# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular data science tools
- List popular libraries in data science

# Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. seaborn
4. scipy
5. vegas

# Data science tools

|Data science tools|
|-----|
|MySQL|
|Apache cassandra|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author 
Tamirat Temesgen